@font-face {
    font-family: newFont;
    src: url('./images/Silkscreen-Bold.ttf');
}


#image {
    display: none;
    position: relative;
    bottom: 450px;
    left: 45%;
    width: 100px;
    height: 500px;
    background: url('./images/knightExplore.png');
    background-size: cover;
  }
  #knightSlash {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 45%;
    width: 120px;
    height: 200px;
    background: url('./images/knightSlash.png');
    background-size: cover;
}
#slash {
    display: none;
    position: absolute;
    bottom: 195px;
    left: 45%;
    width: 170px;
    height: 200px;
    background: url('./images/slashRight.png');
    background-size: cover;
    z-index: 1;
}
#knightDefend{
    display: none;
    position: absolute;
    bottom: 90px;
    left: 45%;
    width: 100px;
    height: 200px;
    background: url("./images/knightDefend.png");
    background-size: cover;
}
#attack {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 44%;
    width: 108px;
    height: 200px;
    background: url('./images/attack.png');
    background-size: cover;
    z-index: 1;
}
#attackOnShield {
    display: none;
    position: absolute;
    bottom: 100px;
    left: 44%;
    width: 108px;
    height: 200px;
    background: url('./images/attack.png');
    background-size: cover;
    z-index: 1;
}
#attackSymbol{
    display: none;
    position: absolute;
    top: 36%;
    left: 5%;
    font-family: newFont;
    font-size: 0.7em;
    border-radius: 12px;
    background-color: rgb(238, 227, 227)
}
#defendSymbol{
    display: none;
    position: absolute;
    top: 44%;
    left: 5%;
    font-family: newFont;
    font-size: 0.7em;
    border-radius: 12px;
    background-color: rgb(238, 227, 227)
}

html,
body{
    background-color: black;
    font-family: newFont;
    font-size: 2em
}

canvas {
    border: 1px solid black;
    display: flex;
    margin-left: 25%;
    margin-top: 5%;
}
h1{
    position: absolute;
    color: white;
    font-size: 0.75em;
    top: 1%;
    right: 24%
}
#start{
    font-family: newFont;
    font-size: 0.5em;
    border-radius: 12px;
    background-color: red;
    position: relative;
    bottom: 350px;
    left: 41%
}
#tryAgain{
    display:none;
    font-family: newFont;
    font-size: 0.5em;
    border-radius: 12px;
    background-color: red;
    position: relative;
    bottom: 220px;
    left: 41%
}
.tutorial {
    display: none;
    position: absolute;
    color: white;
    left: 5%;
    top: 30%;
    font-family: newFont;
    font-size: 0.4em;
    width: 15%
}
.tutorialBattle {
    display: none;
    position: absolute;
    color: white;
    right: 5%;
    top: 30%;
    font-family: newFont;
    font-size: 0.4em;
    width:15%
}
.arrowKeys {
    display: none;
    position: absolute;
    left: 0;
    top: 45%;
    width: 20%
}
.arrowKeysTwo {
    display: none;
    position: absolute;
    right: 0;
    top: 45%;
    width: 20%
}
#skelOne {
    display: none;
    position: absolute;
    top: 25%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/skelOne.png');
    background-size: cover;
}
#skelTwo {
    display: none;
    position: absolute;
    top: 29%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/skelTwo.png');
    background-size: cover;
}
#skelThree {
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/skelThree.png');
    background-size: cover;
}
#skelFour {
    display: none;
    position: absolute;
    top: 25%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/skelFour.png');
    background-size: cover;
}
#skelFive {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/skelFive.png');
    background-size: cover;
}
#skelCapOne {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/skelCapOne.png');
    background-size: cover;
}
#skelCapTwo {
    display: none;
    position: absolute;
    top: 27%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/skelCapTwo.png');
    background-size: cover;
}
#gobOne {
    display: none;
    position: absolute;
    top: 29%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/gobOne.png');
    background-size: cover;
}
#gobTwo {
    display: none;
    position: absolute;
    top: 29%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/gobTwo.png');
    background-size: cover;
}
#gobThree {
    display: none;
    position: absolute;
    top: 31%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/gobThree.png');
    background-size: cover;
}
#orc {
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/orc.png');
    background-size: cover;
}
#demOne {
    display: none;
    position: absolute;
    top: 31%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/demOne.png');
    background-size: cover;
}
#demTwo {
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/demTwo.png');
    background-size: cover;
}
#demThree {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/demThree.png');
    background-size: cover;
}
#demLord {
    display: none;
    position: absolute;
    top: 28%;
    left: 40%;
    width: 250px;
    height: 250px;
    background-image: url('./images/demLord.png');
    background-size: cover;
}
